/* стиль по атрибуту */
a[href="https://yandex.ru/"]{
	background: red;
}

/* Вложенный селектор */

ul > li > a{
	color: green;
}


/* Стиль примениться только к тому списку, который стоит вторым по счету */
ul:nth-of-type(2){
	color: orange;
}


/* стиль примениться к парагрофу, который идет сразу после заголовка 1-го уровня */
h1 + p{
	color: red;
}