#shopping-list{
	background: #f9f4f4;
	width: 500px;
	margin: 100px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 2, 0.2);
}

#hopping-list:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 2, 0.2);
}

body{
	background-image: url('../images/fruit.jpg');
}

h2{
	background: #7D8A2E;
	margin: 0;
	padding: 10px 15px;
	color: #FFF;
	text-transform: uppercase;
	font-weight: normal;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	border-top: 1px solid white;
	color: gray;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	padding-left: 20px;
}

input{
	font-size: 20px;
	background-color: #f9f4f4;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	color: #7D8A2E;

}

input:focus{
	background: white;
	border: 2px solid #7D8A2E; 
	outline: none;
}

li span{
	float: right;
	background: red;
	height: 50px;
	width: 0;
	color: white;
	opacity: 0;
	text-align: center;
	transition: 0.3s;
}

li:hover span{
	width: 50px;
	opacity: 1;
}

h2 span{
	float: right;
}